%p= "Hello,\n #{@source} invited you to join him on TraceYourStack."
%p You could have the opportunity to collaborate with your colleagues and to manage your application.
%p= "Click the link and join us #{@link}"
