%li.list-group-item.comment
  %a.pull-left{:href => "#"}
    %img.avatar{:alt => "avatar", :src => "http://bootdey.com/img/Content/user_1.jpg"}/
  .comment-body
    .comment-heading
      .btn-toolbar.pull-right
        .btn-group
          =link_to "Answer", application_new_feedback_path(@application, c.id), :class => 'btn btn-xs btn-default', :method => :get if session[:user_id]
          =link_to "Edit", edit_application_feedback_path(@application, c.id), :class => 'btn btn-xs btn-default', :method => :get if c.user_name == session[:user_id]
          =link_to "Delete", application_feedback_path(@application, c.id), :class => 'btn btn-xs btn-danger', :method => :delete if c.user_name == session[:user_id] || @application.author == session[:user_id]
      %h4.text-info
        = c.user_name
    %p
      = c.text
  %ul.list-group.comments-list
    - @feedbacks.each do |r|
      - if r.parent_id == c.id
        = render partial: "comments", locals: {c: r}
