.container-fluid
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar
          .btn-group
            = button_to "Back to #{@application.author} main page", user_applications_path(current_user), method: :get, :class => "btn btn-success"
