.container-fluid
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
        %h1.text-info
          Create a new application
  .row
    .col-md-6.col-md-offset-0
      = render 'form'
