.container
  / Heading Row
  .row
    .jumbotron
      %h1 Business Name or Tagline
      %p This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
      %a.btn.btn-primary.btn-lg{:href => users_login_path} Log in now!
    / /.col-md-4
  / /.row
  %hr/
  / Call to Action Well
  .row
    .col-lg-12
      .well.text-center
        This is a well that is a great spot for a business tagline or phone number for easy access!
    / /.col-lg-12
  / /.row
  / Content Row
  .row
    .col-lg-12
      %h3 Latest Features
  .row.text-center
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "Image and video hosting by TinyPic", :border => "0", :src => "http://i66.tinypic.com/2rcbrlj.png"}/
        .caption
          %h3 Feature Label
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "Image and video hosting by TinyPic", :border => "0", :src => "http://i63.tinypic.com/20qjp5d.png"}/
        .caption
          %h3 Feature Label
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "Image and video hosting by TinyPic", :border => "0", :src => "http://i64.tinypic.com/15x76fr.png"}/
        .caption
          %h3 Feature Label
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "Image and video hosting by TinyPic", :border => "0", :src => "http://i66.tinypic.com/117vgnn.png"}/
        .caption
          %h3 Feature Label
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  / /.row
