.container
  / Heading Row
  .row
    .jumbotron
      %h1 Benvenuto su Trace Your Stack
      %p Trace Your Stack è un servizio per sviluppatori mobile pensato per monitorare le eccezioni che si manifestano durante l'esecuzione delle loro applicazioni, fornendo la possibilità di interagire con la relativa repository di GitHub
      %a.btn.btn-primary.btn-lg{:href => users_login_path} Log in now!
    / /.col-md-4
  / /.row
  %hr/
  / Call to Action Well
  .row
    .col-lg-12
      .well.text-center
        Monitora ogni singola eccezione, crea Issues, leggi e rispondi ai commenti!
    / /.col-lg-12
  / /.row
  / Content Row
  .row
    .col-lg-12
      %h3 Features
  .row.text-center
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "Image and video hosting by TinyPic", :border => "0", :src => "http://i66.tinypic.com/2rcbrlj.png"}/
        .caption
          %h3 Classifica le tue applicazioni

    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "Image and video hosting by TinyPic", :border => "0", :src => "http://i63.tinypic.com/20qjp5d.png"}/
        .caption
          %h3 Visualizza il report dell'errore

    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "Image and video hosting by TinyPic", :border => "0", :src => "http://i64.tinypic.com/15x76fr.png"}/
        .caption
          %h3 Crea issues su GitHub

    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "Image and video hosting by TinyPic", :border => "0", :src => "http://i66.tinypic.com/117vgnn.png"}/
        .caption
          %h3 Interagisci con i commenti
        

  / /.row
